.schools {
    padding: 1rem 0;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin: 0;
}

.universities,
.vacaitional {
    background-color: #fff;
    padding: 0 1rem;
    margin: 0;
}

.schools__header {
    padding: 5px 0;
    border-bottom: 3px solid #2da2e5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.schools__header p {
    color: #2da2e5;
    outline: medium none;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: .2rem;
    margin: 0;
    transition: all ease .4s;
}

.schools__header p:hover,
.schools__all a:hover {
    color: #0a4396;
    cursor: pointer;
}

.schools__all a {
    color: #2da2e5;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.schools__card {
    width: 100%;
    padding: .5rem 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.schools__card__img {
    min-width: 20rem;
    min-height: 15rem;
    background-position: center;
    background-size: cover;
    margin-right: 1rem;
}

.schools__card__data {
    color: #a9a9aa;
    font-size: 1.4rem;
    padding: 0;
    margin: 0;
}

.schools__card__name {
    font-size: 1.6rem;
    padding: 0;
    margin: .5rem 0;
    transition: all ease .4s;
    font-weight: bold;
}

.schools__card__name:hover {
    color: #2da2e5;
    cursor: pointer;
}

.schools__card__name:hover~.schools__card__description {
    color: #2da2e5;
    cursor: pointer;
}

.schools__card__description {
    font-size: 1.4rem;
    padding: 0;
    margin: 0;
    transition: all ease .4s;
}

@media only screen and (max-width: 1040px) {
    .schools__card__img {
        height: 10rem;
    }
}

@media only screen and (max-width: 740px) {
    .schools {
        grid-template-columns: repeat(1, 1fr);
    }
    .schools__card__data {
        font-size: 1.1rem;
    }
    .schools__card__name {
        font-size: 1.2rem;
    }
    .schools__card__description {
        font-size: 1.1rem;
    }
}