.search__content__and__adds {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 15px 0;
}

.search__asside {
    padding: 10px;
    width: 70%;
    background-color: #fff;
}

.search__asside .search__input {
    width: 100%;
    display: flex;
    align-items: center;
}

.search__asside .search__input input {
    padding: 7px;
    font-size: 1.6rem;
    width: 90%;
    border: .1rem solid #2da2e5;
    outline: .1rem solid #2da2e5;
}

.search__asside .search__input span {
    background-color: #2da2e5;
    color: #fff;
    font-size: 1.6rem;
    padding: 7px;
    border: .1rem solid #2da2e5;
    /* outline: .1rem solid #2da2e5; */
    transition: all ease .4s;
    text-transform: uppercase;
}

.search__asside .search__input span:hover {
    cursor: pointer;
    background-color: #1c8ccc;
}

.search__results {
    width: 100%;
}

.div__for__border {
    padding: 20px 0;
    border-bottom: .1rem solid rgb(164, 163, 163);
}

.result {
    margin: 1rem 0;
    margin-bottom: 2rem;
    width: 100%;
}

.result h1 {
    font-size: 1.6rem;
    color: #094091;
    padding: 0;
    margin: 0;
    transition: all ease .4s;
}

.result h1:hover {
    cursor: pointer;
    color: #1b4d98;
}

.result p {
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
}